RewriteEngine On
RewriteBase /

# Force trailing slash for slugs
RewriteRule ^([a-zA-Z0-9-]+)$ $1/ [R=301,L]

# Allow access to existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other requests to index.php
RewriteRule ^([a-zA-Z0-9-]+)/$ index.php?event_slug=$1 [L,QSA]
